* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

#hero {
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: #fff;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

#about-me {
    padding-top: 60px;
    padding-bottom: 0%;
}

.about-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

#about-me .about-flex {
    align-items:  stretch;
}

.about-text p {
    margin-bottom: 25px; 
    line-height: 1.6;
}

#about-me img {
    align-self: flex-end;
    display: block;
    max-width: 100%;
}

#services {
    background-color: #fafafa;
    padding: 80px 0;
}

.services-header {
    max-width: 600px;
    margin: 0 auto 40px;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#services article {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#services article p {
    margin-bottom: 30px; 
}

#services .btn {
    margin-top: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    text-decoration: none;
    transition: 0.3s;
    width: fit-content;
} 

#services .btn:hover {
    background-color: #fff;
    color: #000;
}

#work {
    padding: 80px 0;
}

.work-header {
    max-width: 700px;
    margin: 0 auto 40px;
    text-align: center;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 0;
    margin-top: 30px;
    max-width: 1200px;
    margin: 40px auto 0;
}

.work-grid img:nth-child(1) {grid-column: span 3;}
.work-grid img:nth-child(2) {grid-column: span 3;}
.work-grid img:nth-child(3) {grid-column: span 2;}
.work-grid img:nth-child(4) {grid-column: span 2;}
.work-grid img:nth-child(5) {grid-column: span 2;}

.work-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
